@import "compass/reset";
@import "compass/css3";
@import "common/variables";
@import "common/common";
@import "common/formElements";
@import "common/themes";


.css-notificationBlock {
  position: fixed;
  left: 125px;
  right: 270px;
  top: 10px;
  padding: 10px;
  background: #f7f7f7;
  min-height: 44px;
  @include border-radius($common-border-radius);
  display: none;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  &.success {
    color: #487740;
  }
}
header {
  padding: 10px;
  height: $header-height;
  background: $header-background-color;
  @include box-shadow(0 0 14px 0 rgba(0, 0, 0, 0.7));

  .logo {
    background: #fff;
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 50%;
    margin-left: 20px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    @include box-shadow(1px 1px 3px 0 rgba(0,0,0,0.5));
  }
}

.css-themeChooser {
  float: right;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  @include border-radius($common-border-radius);
  span {
    font-size: 15px;
    top: -5px;
    position: relative;
  }
  label.css-radioThumbnail {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    @include border-radius(50%);

    &.grey {
      background: #bdbdbd;
    }
    &.orange {
      background: #ff6c3f;
    }
    &.blue {
      background: #5b8bff;
    }
    &.green {
      background: #99D362;
    }
    &.magenta {
      background: #d7144a;
    }
    &.active {
      @include box-shadow(0 0 7px 0 rgba(0,0,0,0.8))
    }
  }
}
.css-colorInput {
  display: none;
}

.css-searchModule {
  text-align: right;
  padding: 15px;
  line-height: 1;
  background: #fff;
  .css-searchInput {
    width: 300px;
    float: right;
  }
}

.css-filterDropDown {
  line-height: 1;
  display: inline-block;
  height: 30px;
  float: right;
}

.css-filterDropdownButton {
  padding: 6px;
  border: 1px solid #ccc;
  float: right;
  margin: -1px 0 0 5px;
  @include border-radius($common-border-radius);
  cursor: pointer;
  font-size: 16px;
  color: #666;
  &:hover {
    color: #333;
  }
}

.css-dropdown-menu {
  width: 400px;
  padding: 0;
  @include border-radius($common-border-radius);
  .css-searchDropdownHeader {
    padding: 10px;
  }
  .css-filterOptionsContainer {
    border-top: 1px solid #ccc;
    padding: 10px;
    max-height: 300px;
    overflow: auto;
    .css-filterTypeContainer {
      padding: 3px 0;
    }
  }
  .css-filterTypeContainer {
    display: inline-block;
    width: 49%;
  }
}

.css-layoutContainer {
  border-top: 1px solid #ccc;
  padding: 20px;
  background: #f7f7f7;
}

.css-tableContainer {
  width: calc((100vw - 40px) * 0.33);
  height: 22vw;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.css-table {
  border: 1px solid #ccc;
  @include border-radius($common-border-radius);
  @include box-shadow(0 0 9px 0 rgba(0, 0, 0, 0.2));
  line-height: 100%;
  text-align: center;
  position: absolute;
  left: 12%;
  top: 15%;
  right: 12%;
  bottom: 15%;
  z-index: 2;
  background: #fff;
  .tableName {
    position: absolute;
    top: 50%;
    left: 0;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
  }
}

.css-seatContainer {
  width: 5vw;
  height: 5vw;
  @include border-radius(50%);
  position: absolute;
  &:nth-child(1){
    left: 17%;
    top: 4%;
  }
  &:nth-child(2){
    right: 17%;
    top: 4%;
  }
  &:nth-child(3){
    left: 17%;
    bottom: 4%;
  }
  &:nth-child(4){
    right: 17%;
    bottom: 4%;
  }
}
.css-seat {
  width: 100%;
  height: 100%;
  background: #666;
  @include border-radius(50%);
  position: relative;
  z-index: 1;
  &.empty {
    opacity: 0.15;
    @include transition-property(box-shadow);
    @include transition-duration(0.3s);
    @include box-shadow(0 0 0 0 rgb(0,0,0));
    &.ng-drag-enter {
      @include box-shadow(0 0 24px 0 rgb(0,0,0));
      opacity: 0.3;
    }
  }
  &.dragging {
    position: fixed;
    z-index: 30!important;
    & + .css-seat.displayNone {
      display: block;
    }
  }
  &.highlighted {
    background: #fff;
    @include box-shadow(0 0 17px 0 rgba(176, 176, 176, 0.5));
  }
}

.css-employeeToolTip {
  position: absolute;
  background: #fff;
  width: 200px;
  height: 170px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 4;
  img {
    height: 40px;
    width: 40px;
    display: inline-block;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
    @include box-shadow(0  0 2px 0 rgba(0, 0, 0, 0.2));
  }
  @include border-radius($tooltip-generic-border-radius);
  @include box-shadow(0 2px 5px 0 rgba(0,0,0, 0.5));
  .css-tooltipArrow {
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: -7px;
    @include transform(rotate(45deg));
    background: #fff;
    @include box-shadow(-2px 2px 2px 0 rgba(0, 0, 0, 0.2));
  }
  &.left {
    .css-tooltipArrow {
      right: -7px;
      left: auto;
      @include transform(rotate(225deg));
    }
  }

  &.bottom {
    .css-tooltipArrow {
      top: auto;
      bottom: 25px;
    }
  }
  name {
    font-size: 16px;
    color: #333;
    display: inline-block;
  }
  designation {
    font-size: 13px;
    color: #333;
    display: inline-block;
    margin-bottom: 20px;
  }
  label {
    color: #999;
    font-size: 12px;
    display: block;
    font-weight: normal;
    margin-bottom: 0;
  }
  value {
    font-size: 15px;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
}

@media screen and (max-width:800px) {
  .css-tableContainer {
    width: calc((100vw - 40px) * 0.5);
    height: 30vw;
  }
  .css-seatContainer {
    &:nth-child(1), &:nth-child(2) {
      top: 6%;
    }
    &:nth-child(3), &:nth-child(4) {
      bottom: 6%;
    }
  }
}

@media screen and (max-width:500px) {
  .css-tableContainer {
    width: calc((100vw - 40px) * 0.9);
    height: 70vw;
    .css-seat {
      width: 10vw;
      height: 10vw;
    }
  }
  .css-seatContainer {
    &:nth-child(1), &:nth-child(2) {
      top: 8%;
    }
    &:nth-child(3), &:nth-child(4) {
      bottom: 15%;
    }

    &:nth-child(2), &:nth-child(4) {
      right: 22%;
    }
  }
}