<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sprinklr Assignment - Spot</title>
    <link rel="stylesheet" href="src/js/external/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/main.css">
    <script src="dist/js/external/spot.ext.min.js"></script>
    <script src="dist/js/spot.min.js"></script>
    <base href="/">
</head>
<body ng-app="App" ng-controller="LayoutController" class="{{themeColor}}">
    <div id="notificationBlock" class="css-notificationBlock"></div>
    <div ng-include="getTemplateUrl('header.html')"></div>
    <div ng-view>
    </div>
</body>
</html>