<div ng-controller="SearchController" class="css-searchModule">
    <div class="js-filterDropDown css-filterDropDown posRelative displayInlineBlock">
        <span class="glyphicon glyphicon-filter css-filterDropdownButton dropdown-toggle" data-toggle="dropdown" ng-click="onDropDownOpen()"></span>
        <div class="dropdown-menu css-dropdown-menu" style="right:0; left:auto">
            <div class="css-searchDropdownHeader">
                <span class="css-filterTypeContainer">
                    <input type="checkbox" ng-model="filterType.team" ng-change="toggleFilterType('team')" name="filterTypeTeam" id="filterTypeTeam"><label for="filterTypeTeam">Team</label>
                </span>
                <span class="css-filterTypeContainer">
                    <input type="checkbox" ng-model="filterType.jobTitle" ng-change="toggleFilterType('jobTitle')" name="filterTypeJobTitle" id="filterTypeJobTitle"><label for="filterTypeJobTitle">Job Title</label>
                </span>
            </div>
            <div class="css-filterOptionsContainer" ng-show="filterType.team">
                <span ng-repeat="t in teams" class="css-filterTypeContainer">
                    <input name="teamFilter" type="checkbox" ng-model="filter.teamsFilter[t.id]">{{t.displayName}}
                </span>
            </div>
            <div ng-show="filterType.jobTitle" class="css-filterOptionsContainer">
                <span ng-repeat="t in designations" class="css-filterTypeContainer">
                    <input name="jobsFilter" type="checkbox" ng-model="filter.jobsFilter[t.id]">{{t.displayName}}
                </span>
            </div>
        </div>
    </div>
    <input ng-model="searchString" placeholder="Enter Name" class="css-searchInput" ng-keyup="onKeyUp()">
    <div class="clear"></div>
</div>
<div class="css-layoutContainer" ng-controller="TeamLayoutController">
    <div ng-repeat="x in tables" class="css-tableContainer js-tableContainer" id="{{x.id}}" data-projectId="{{x.projectId}}">
        <div class="css-table">
            <span class="tableName">Table {{x.id}}</span>
        </div>
        <div class="css-seatsContainer">
            <div ng-repeat="s in x.seats" class="css-seatContainer" data-index="{{$index}}" ng-controller="SeatController" ng-init="init(s.employeeId, x.id, $index)" >
            <div class="css-seat {{s.employeeId === null? 'displayNone': ''}} {{highlighted === true? 'highlighted': ''}}" ng-drag-disabled="false" ng-drop-disabled="true" ng-drag="{table: x, seat: s, index: $index}" ng-mouseenter="showEmployeeDetails($event, s.employeeId)" ng-mouseleave="hideEmployeeDetails($event)">
                <div data-employee-id="{{s.employeeId}}" class="js-employee-details"></div>
            </div>
            <div class="css-seat empty {{s.employeeId === null? '': 'displayNone'}}" ng-drag-disabled="true" ng-drop-disabled="false" ng-drop="onDropSuccess($data,$event)">
                <div data-employee-id="{{s.employeeId}}" class="js-employee-details"></div>
            </div>
            </div>
        </div>
    </div>
</div>