<header>
    <div class="logo">SPOT</div>
    <div class="css-themeChooser" ng-controller="ThemeController">
        <span>Theme Color:</span>
        <input type="radio" value="grey" ng-model="themeColor" id="greyTheme" class="css-colorInput">
            <label for="greyTheme" class="css-radioThumbnail grey {{themeColor === 'grey'? 'active': ''}}"></label>
        <input type="radio" value="blue" ng-model="themeColor" id="blueTheme" class="css-colorInput">
            <label for="blueTheme" class="css-radioThumbnail blue {{themeColor === 'blue'? 'active': ''}}"></label>
        <input type="radio" value="green" ng-model="themeColor" class="css-colorInput" id="greenTheme">
            <label for="greenTheme" class="css-radioThumbnail green {{themeColor === 'green'? 'active': ''}}"></label>
        <input type="radio" value="magenta" ng-model="themeColor" class="css-colorInput" id="magentaTheme">
            <label for="magentaTheme" class="css-radioThumbnail magenta {{themeColor === 'magenta'? 'active': ''}}"></label>
    </div>
    <div class="clear"></div>
</header>