/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/common/_common.scss */
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  overflow: auto;
  background: #f7f7f7;
}

/* line 9, ../sass/common/_common.scss */
div, span, input, select, textarea, button, a {
  box-sizing: border-box;
}

/* line 13, ../sass/common/_common.scss */
.clear {
  clear: both;
}

/* line 17, ../sass/common/_common.scss */
.posRelative {
  position: relative;
}

/* line 21, ../sass/common/_common.scss */
.rfloat {
  float: right;
}

/* line 25, ../sass/common/_common.scss */
.displayInlineBlock {
  display: inline-block;
}

/* line 29, ../sass/common/_common.scss */
.displayNone {
  display: none;
}

/* line 35, ../sass/common/_common.scss */
.width50 {
  width: 50%;
}

/* line 1, ../sass/common/_formElements.scss */
input:not([type=checkbox]), textarea, select {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid;
  border-color: #d2d2d2;
  padding: 5px;
  height: 30px;
  width: 100%;
  line-height: 25px;
}

/* line 11, ../sass/common/_formElements.scss */
input[type=checkbox] {
  margin-right: 5px;
}

/* line 2, ../sass/common/_themes.scss */
.blue header {
  background: #32a1f1;
}
/* line 6, ../sass/common/_themes.scss */
.blue .css-seat {
  background: #8BC24F;
}
/* line 8, ../sass/common/_themes.scss */
.blue .css-seat.highlighted {
  background: #CCF78D;
  -moz-box-shadow: 0 0 17px 0 #95E56D;
  -webkit-box-shadow: 0 0 17px 0 #95E56D;
  box-shadow: 0 0 17px 0 #95E56D;
}
/* line 13, ../sass/common/_themes.scss */
.blue .css-filterDropdownButton {
  color: #32a1f1;
}

/* line 19, ../sass/common/_themes.scss */
.magenta header {
  background: #D31D62;
}
/* line 23, ../sass/common/_themes.scss */
.magenta .css-seat {
  background: #7f60c2;
}
/* line 25, ../sass/common/_themes.scss */
.magenta .css-seat.highlighted {
  background: #FF873E;
  -moz-box-shadow: 0 0 17px 0 #FF873E;
  -webkit-box-shadow: 0 0 17px 0 #FF873E;
  box-shadow: 0 0 17px 0 #FF873E;
}
/* line 30, ../sass/common/_themes.scss */
.magenta .css-filterDropdownButton {
  color: #D31D62;
}

/* line 37, ../sass/common/_themes.scss */
.green header {
  background: #99D362;
}
/* line 41, ../sass/common/_themes.scss */
.green .css-seat {
  background: #7f60c2;
}
/* line 43, ../sass/common/_themes.scss */
.green .css-seat.highlighted {
  background: #DFA9FF;
  -moz-box-shadow: 0 0 17px 0 #CB7FF7;
  -webkit-box-shadow: 0 0 17px 0 #CB7FF7;
  box-shadow: 0 0 17px 0 #CB7FF7;
}
/* line 48, ../sass/common/_themes.scss */
.green .css-filterDropdownButton {
  color: #99D362;
}

/* line 9, ../sass/main.scss */
.css-notificationBlock {
  position: fixed;
  left: 125px;
  right: 270px;
  top: 10px;
  padding: 10px;
  background: #f7f7f7;
  min-height: 44px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
}
/* line 22, ../sass/main.scss */
.css-notificationBlock.success {
  color: #487740;
}

/* line 26, ../sass/main.scss */
header {
  padding: 10px;
  height: 70px;
  background: #f5f5f5;
  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.7);
}
/* line 32, ../sass/main.scss */
header .logo {
  background: #fff;
  height: 50px;
  width: 50px;
  float: left;
  border-radius: 50%;
  margin-left: 20px;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
}

/* line 46, ../sass/main.scss */
.css-themeChooser {
  float: right;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 52, ../sass/main.scss */
.css-themeChooser span {
  font-size: 15px;
  top: -5px;
  position: relative;
}
/* line 57, ../sass/main.scss */
.css-themeChooser label.css-radioThumbnail {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 64, ../sass/main.scss */
.css-themeChooser label.css-radioThumbnail.grey {
  background: #bdbdbd;
}
/* line 67, ../sass/main.scss */
.css-themeChooser label.css-radioThumbnail.orange {
  background: #ff6c3f;
}
/* line 70, ../sass/main.scss */
.css-themeChooser label.css-radioThumbnail.blue {
  background: #5b8bff;
}
/* line 73, ../sass/main.scss */
.css-themeChooser label.css-radioThumbnail.green {
  background: #99D362;
}
/* line 76, ../sass/main.scss */
.css-themeChooser label.css-radioThumbnail.magenta {
  background: #d7144a;
}
/* line 79, ../sass/main.scss */
.css-themeChooser label.css-radioThumbnail.active {
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.8);
}

/* line 84, ../sass/main.scss */
.css-colorInput {
  display: none;
}

/* line 88, ../sass/main.scss */
.css-searchModule {
  text-align: right;
  padding: 15px;
  line-height: 1;
  background: #fff;
}
/* line 93, ../sass/main.scss */
.css-searchModule .css-searchInput {
  width: 300px;
  float: right;
}

/* line 99, ../sass/main.scss */
.css-filterDropDown {
  line-height: 1;
  display: inline-block;
  height: 30px;
  float: right;
}

/* line 106, ../sass/main.scss */
.css-filterDropdownButton {
  padding: 6px;
  border: 1px solid #ccc;
  float: right;
  margin: -1px 0 0 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}
/* line 115, ../sass/main.scss */
.css-filterDropdownButton:hover {
  color: #333;
}

/* line 120, ../sass/main.scss */
.css-dropdown-menu {
  width: 400px;
  padding: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 124, ../sass/main.scss */
.css-dropdown-menu .css-searchDropdownHeader {
  padding: 10px;
}
/* line 127, ../sass/main.scss */
.css-dropdown-menu .css-filterOptionsContainer {
  border-top: 1px solid #ccc;
  padding: 10px;
  max-height: 300px;
  overflow: auto;
}
/* line 132, ../sass/main.scss */
.css-dropdown-menu .css-filterOptionsContainer .css-filterTypeContainer {
  padding: 3px 0;
}
/* line 136, ../sass/main.scss */
.css-dropdown-menu .css-filterTypeContainer {
  display: inline-block;
  width: 49%;
}

/* line 142, ../sass/main.scss */
.css-layoutContainer {
  border-top: 1px solid #ccc;
  padding: 20px;
  background: #f7f7f7;
}

/* line 148, ../sass/main.scss */
.css-tableContainer {
  width: calc((100vw - 40px) * 0.33);
  height: 22vw;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

/* line 156, ../sass/main.scss */
.css-table {
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
  line-height: 100%;
  text-align: center;
  position: absolute;
  left: 12%;
  top: 15%;
  right: 12%;
  bottom: 15%;
  z-index: 2;
  background: #fff;
}
/* line 169, ../sass/main.scss */
.css-table .tableName {
  position: absolute;
  top: 50%;
  left: 0;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: -10px;
  font-size: 20px;
}

/* line 182, ../sass/main.scss */
.css-seatContainer {
  width: 5vw;
  height: 5vw;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}
/* line 187, ../sass/main.scss */
.css-seatContainer:nth-child(1) {
  left: 17%;
  top: 4%;
}
/* line 191, ../sass/main.scss */
.css-seatContainer:nth-child(2) {
  right: 17%;
  top: 4%;
}
/* line 195, ../sass/main.scss */
.css-seatContainer:nth-child(3) {
  left: 17%;
  bottom: 4%;
}
/* line 199, ../sass/main.scss */
.css-seatContainer:nth-child(4) {
  right: 17%;
  bottom: 4%;
}

/* line 204, ../sass/main.scss */
.css-seat {
  width: 100%;
  height: 100%;
  background: #666;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
/* line 211, ../sass/main.scss */
.css-seat.empty {
  opacity: 0.15;
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-box-shadow: 0 0 0 0 black;
  -webkit-box-shadow: 0 0 0 0 black;
  box-shadow: 0 0 0 0 black;
}
/* line 216, ../sass/main.scss */
.css-seat.empty.ng-drag-enter {
  -moz-box-shadow: 0 0 24px 0 black;
  -webkit-box-shadow: 0 0 24px 0 black;
  box-shadow: 0 0 24px 0 black;
  opacity: 0.3;
}
/* line 221, ../sass/main.scss */
.css-seat.dragging {
  position: fixed;
  z-index: 30 !important;
}
/* line 224, ../sass/main.scss */
.css-seat.dragging + .css-seat.displayNone {
  display: block;
}
/* line 228, ../sass/main.scss */
.css-seat.highlighted {
  background: #fff;
  -moz-box-shadow: 0 0 17px 0 rgba(176, 176, 176, 0.5);
  -webkit-box-shadow: 0 0 17px 0 rgba(176, 176, 176, 0.5);
  box-shadow: 0 0 17px 0 rgba(176, 176, 176, 0.5);
}

/* line 234, ../sass/main.scss */
.css-employeeToolTip {
  position: absolute;
  background: #fff;
  width: 200px;
  height: 170px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
/* line 242, ../sass/main.scss */
.css-employeeToolTip img {
  height: 40px;
  width: 40px;
  display: inline-block;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #fff;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}
/* line 254, ../sass/main.scss */
.css-employeeToolTip .css-tooltipArrow {
  width: 15px;
  height: 15px;
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  left: -7px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
  -moz-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}
/* line 267, ../sass/main.scss */
.css-employeeToolTip.left .css-tooltipArrow {
  right: -7px;
  left: auto;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
/* line 275, ../sass/main.scss */
.css-employeeToolTip.bottom .css-tooltipArrow {
  top: auto;
  bottom: 25px;
}
/* line 280, ../sass/main.scss */
.css-employeeToolTip name {
  font-size: 16px;
  color: #333;
  display: inline-block;
}
/* line 285, ../sass/main.scss */
.css-employeeToolTip designation {
  font-size: 13px;
  color: #333;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 291, ../sass/main.scss */
.css-employeeToolTip label {
  color: #999;
  font-size: 12px;
  display: block;
  font-weight: normal;
  margin-bottom: 0;
}
/* line 298, ../sass/main.scss */
.css-employeeToolTip value {
  font-size: 15px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  /* line 307, ../sass/main.scss */
  .css-tableContainer {
    width: calc((100vw - 40px) * 0.5);
    height: 30vw;
  }

  /* line 312, ../sass/main.scss */
  .css-seatContainer:nth-child(1), .css-seatContainer:nth-child(2) {
    top: 6%;
  }
  /* line 315, ../sass/main.scss */
  .css-seatContainer:nth-child(3), .css-seatContainer:nth-child(4) {
    bottom: 6%;
  }
}
@media screen and (max-width: 500px) {
  /* line 322, ../sass/main.scss */
  .css-tableContainer {
    width: calc((100vw - 40px) * 0.9);
    height: 70vw;
  }
  /* line 325, ../sass/main.scss */
  .css-tableContainer .css-seat {
    width: 10vw;
    height: 10vw;
  }

  /* line 331, ../sass/main.scss */
  .css-seatContainer:nth-child(1), .css-seatContainer:nth-child(2) {
    top: 8%;
  }
  /* line 334, ../sass/main.scss */
  .css-seatContainer:nth-child(3), .css-seatContainer:nth-child(4) {
    bottom: 15%;
  }
  /* line 338, ../sass/main.scss */
  .css-seatContainer:nth-child(2), .css-seatContainer:nth-child(4) {
    right: 22%;
  }
}
