html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  overflow: auto;
  background: #f7f7f7;
}

div, span, input, select, textarea, button, a {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.posRelative {
  position: relative;
}

.rfloat {
  float: right;
}

.displayInlineBlock {
  display: inline-block;
}

.displayNone {
  display: none;
}



.width50 {
  width: 50%;
}