input:not([type=checkbox]), textarea, select {
  @include border-radius($form-elements-border-radius);
  border: 1px solid;
  border-color: $form-elements-border-color;
  padding: 5px;
  height: 30px;
  width: 100%;
  line-height: 25px;
}

input[type=checkbox] {
  margin-right: 5px;
}