.blue {
  header {
    background: #32a1f1;
  }

  .css-seat {
    background: #8BC24F;
    &.highlighted {
      background: #CCF78D;
      @include box-shadow(0 0 17px 0 #95E56D);
    }
  }
  .css-filterDropdownButton {
    color: #32a1f1;
  }
}

.magenta {
  header {
    background: #D31D62;
  }

  .css-seat {
    background: #7f60c2;
    &.highlighted {
      background: #FF873E;
      @include box-shadow(0 0 17px 0 #FF873E);
    }
  }
  .css-filterDropdownButton {
    color: #D31D62;
  }
}


.green {
  header {
    background: #99D362;
  }

  .css-seat {
    background: #7f60c2;
    &.highlighted {
      background: #DFA9FF;
      @include box-shadow(0 0 17px 0 #CB7FF7);
    }
  }
  .css-filterDropdownButton {
    color: #99D362;
  }
}